/* Global */
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

body {
    background: #ffe59f;
    font-family: 'EB Garamond', serif;
}

/* Typography */
h1,h2, h3, h4, h6 
{font-family: 'Quattrocento Sans', sans-serif;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

/* Positioning */
header {
    background: rgba(0, 128, 128, 0.7);
    position: fixed;
    width: 100%;
    
    position: relative;

}

/* Layout */
.page-wrapper {
    background: red;
    margin: 0 auto;
    width: 95%;
} 

#zen-intro {
    background: #b43d3d;
    

}

#zen-supporting {
    background: #b55959;
}

.sidebar {
    background: #ba8837;
    
}



/* Media Queries */
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Mobile Size";
  }
  
/* end mobile */
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  }

/* end tablet */
}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }
    
/* end desktop*/
}
